

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    
    
    width: auto;
    display: block;
}

.auth-logo {
    display: inline-block;
    margin-bottom: 40px;
}

.auth-logo img {
    height: 150px;
    
    
    width: auto;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.logo-footer img {
    height: 90px;
    
    width: auto;
}

.logo {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: normal;
}

@media (max-width: 768px) {
    .logo img {
        height: 50px;
        
    }

    .auth-logo img {
        height: 100px;
        
    }
}
